<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <h1>Edit Profile</h1>

    <%= form_for @guardian do |f| %>
      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </p>
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>

  </body>
</html>
