<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guardian Profile</title>
  </head>
  <body>
    <h1><%= @guardian.full_name %></h1>
    <ul>
      <li><%= @guardian.role.capitalize %></li>
      <li><%= @guardian.position ? @guardian.position : nill %></li>
      <li><%= @guardian.email %></li>
    </ul>

      <% if @guardian.has_kids? %>
      <h3><%= link_to "Kids", guardian_kids_path(@guardian) %></h3>
        <% @guardian.kids.each do |kid| %>
          <%= link_to "#{kid.first_name}", guardian_kid_path(@guardian, kid) %>
        <% end %>
      <% end %>

      <%= link_to "Add a Child", new_guardian_kid_path(@guardian) %>

      <%= link_to "Edit Profile", edit_guardian_path(@guardian) %>

      <%= link_to "Create a Case", new_case_path %>

  </body>
</html>
